* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
.form {
	width: 30%;
}

.box {
	display: flex;

}
.border-form{
	border: 2px solid #007bff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view {
	position: relative;
	width: 100%;
	margin-left: 20px;
	padding: 20px 30px;

}